@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,400&family=Montserrat:ital,wght@0,300;0,400;1,300&family=Outfit&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: "outfit";
}

.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5vh;
    height: 67vh;
    width: 45vh;
    border-radius: 20px;
}

img{
    height: auto;
    width: 41vh;
    margin-top: -3vh;
    border-radius: 20px;
}

h1{
    margin-top: 3vh;
    font-size: 3.2vh;
    width: 35vh;
    color: hsl(218, 44%, 22%);
}

p{
    margin-top: 3vh;
    color: hsl(220, 15%, 55%);
    font-size: 1.9vh;
}

.attribution{
    margin-top: 14vh;
}